In [10]:
import numpy as np
import pandas as pd

mylist= list('abcedfghjklmopqrstuvwxyz')
myarr=np.arange(26)
mydict=dict(zip(mylist,myarr))
ser=pd.Series(mydict)
ser

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
j     8
k     9
l    10
m    11
o    12
p    13
q    14
r    15
s    16
t    17
u    18
v    19
w    20
x    21
y    22
z    23
dtype: int32

In [11]:
import pandas as pd
FrameSer=pd.DataFrame(ser, columns= ['stt'])
FrameSer

   stt
a    0
b    1
c    2
e    3
d    4
f    5
g    6
h    7
j    8
k    9
l   10
m   11
o   12
p   13
q   14
r   15
s   16
t   17
u   18
v   19
w   20
x   21
y   22
z   23